In [59]:
import pandas as pd, numpy as np
import matplotlib.pyplot as plt
import os

In [60]:
cd ~/dev/projetMemoire/militaires-decedes-sur-les-theatres-d-operations-exterieurs/

/Users/Theo/dev/projetMemoire/militaires-decedes-sur-les-theatres-d-operations-exterieurs

In [61]:
ls -all

total 16360
drwxr-xr-x  28 Theo  staff      896 Mar 11 16:00 ./
drwxr-xr-x  10 Theo  staff      320 Mar 11 16:00 ../
-rw-r--r--   1 Theo  staff   782911 Mar 11 16:00 Fond_10a_base_nominative_a.csv
-rw-r--r--   1 Theo  staff  1212485 Mar 11 16:00 Fond_10a_base_nominative_b.csv
-rw-r--r--   1 Theo  staff   478787 Mar 11 16:00 Fond_10a_base_nominative_c.csv
-rw-r--r--   1 Theo  staff   561939 Mar 11 16:00 Fond_10a_base_nominative_d.csv
-rw-r--r--   1 Theo  staff   144304 Mar 11 16:00 Fond_10a_base_nominative_e.csv
-rw-r--r--   1 Theo  staff   263319 Mar 11 16:00 Fond_10a_base_nominative_f.csv
-rw-r--r--   1 Theo  staff   421143 Mar 11 16:00 Fond_10a_base_nominative_g.csv
-rw-r--r--   1 Theo  staff   367663 Mar 11 16:00 Fond_10a_base_nominative_h.csv
-rw-r--r--   1 Theo  staff    42660 Mar 11 16:00 Fond_10a_base_nominative_i.csv
-rw-r--r--   1 Theo  staff   101261 Mar 11 16:00 Fond_10a_base_nominative_j.csv
-rw-r--r--   1 Theo  staff   283165 Mar 11 16:00 Fond_10a_base_nominative_k.csv
-rw-r--r--   1 Theo  staff   532977 Mar 11 16:00 Fond_10a_base_nominative_l.csv
-rw-r--r--   1 Theo  staff   995979 Mar 11 16:00 Fond_10a_base_nominative_m.csv
-rw-r--r--   1 Theo  staff   121701 Mar 11 16:00 Fond_10a_base_nominative_n.csv
-rw-r--r--   1 Theo  staff    89936 Mar 11 16:00 Fond_10a_base_nominative_o.csv
-rw-r--r--   1 Theo  staff   303139 Mar 11 16:00 Fond_10a_base_nominative_p.csv
-rw-r--r--   1 Theo  staff    16554 Mar 11 16:00 Fond_10a_base_nominative_q.csv
-rw-r--r--   1 Theo  staff   358993 Mar 11 16:00 Fond_10a_base_nominative_r.csv
-rw-r--r--   1 Theo  staff   568287 Mar 11 16:00 Fond_10a_base_nominative_s.csv
-rw-r--r--   1 Theo  staff   273635 Mar 11 16:00 Fond_10a_base_nominative_t.csv
-rw-r--r--   1 Theo  staff    14666 Mar 11 16:00 Fond_10a_base_nominative_u.csv
-rw-r--r--   1 Theo  staff   172143 Mar 11 16:00 Fond_10a_base_nominative_v.csv
-rw-r--r--   1 Theo  staff    86323 Mar 11 16:00 Fond_10a_base_nominative_w.csv
-rw-r--r--   1 Theo  staff     3129 Mar 11 16:00 Fond_10a_base_nominative_x.csv
-rw-r--r--   1 Theo  staff    34685 Mar 11 16:00 Fond_10a_base_nominative_y.csv
-rw-r--r--   1 Theo  staff    85389 Mar 11 16:00 Fond_10a_base_nominative_z.csv

In [62]:
alpha = np.array(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 
          'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 
          's', 't', 'u', 'v', 'w', 'x', 'y', 'z'])

tables = len(alpha)

In [63]:
tables

26

In [64]:
for i in tables:
    db[i] = pd.read_csv(f"Fond_10a_base_nominative_{alpha[i]}.csv", engine = 'python')

TypeError: 'int' object is not iterable

In [65]:
db0 = pd.read_csv("Fond_10a_base_nominative_a.csv", encoding='UTF-8', engine="python", names = ["id_conflit_intitule", "id_sous_conflit_intitule", "id_famille_cote_intitule", "sous_serie", 
                                                             "serie", "article", "nom", "prenom", "nom_autre", "pseudonyme", "naissance_jour_mois_annee", 
                                                             "id_naissance_lieu_intitule", "id_naissance_departement_intitule", "id_naissance_pays_intitule",
                                                             "id_statut_intitule", "id_mention_intitule", "classe", "recrutement_matricule", "id_recrutement_bureau_intitule",
                                                             "id_grade_intitule", "id_unite_intitule", "id_bataillon_intitule", "id_compagnie_intitule", "id_batterie_intitule", 
                                                             "detail_unite", "id_profession_intitule", "deces_jour_mois_annee", "id_deces_lieu_intitule", "id_deces_departement_intitule",
                                                             "id_deces_pays_intitule", "id_operation_intitule", "id_transcription_etablissement_lieu_intitule", "id_transcription_etablissement_departement_intitule", 
                                                             "id_transcription_etablissement_pays_intitule"], sep = " t")

In [66]:
db0

,id_conflit_intitule,id_sous_conflit_intitule,id_famille_cote_intitule,sous_serie,serie,article,nom,prenom,nom_autre,pseudonyme,...,detail_unite,id_profession_intitule,deces_jour_mois_annee,id_deces_lieu_intitule,id_deces_departement_intitule,id_deces_pays_intitule,id_operation_intitule,id_transcription_etablissement_lieu_intitule,id_transcription_etablissement_departement_intitule,id_transcription_etablissement_pays_intitule
0,id_conflit_intitule;id_sous_conflit_intitule;i...,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"""Théâtres d'opérations extérieurs"";""Afrique du...","irailleurs (20e RT)"";;;;;;1925-10-08;Taza;;Mar...",None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"""Théâtres d'opérations extérieurs"";Levant;AC;4...",None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"""Théâtres d'opérations extérieurs"";Levant;AC;4...","irailleurs (18e RT)"";;;;;;1920-04-11;Ourfa;;Ci...",None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"""Théâtres d'opérations extérieurs"";""Afrique du...","irailleurs (11e RT)"";;;;;;1923-08-16;""Ahl Telt...",None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1912,"""Théâtres d'opérations extérieurs"";Levant;AC;4...","irailleurs (5e RT)"";;;;;;1920-05-17;""Yéni Kéni...",None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1913,"""Théâtres d'opérations extérieurs"";Levant;AC;4...","irailleurs (3e RMZT)"";;;;;;1921-06-29;""non con...",None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1914,"""Théâtres d'opérations extérieurs"";""Afrique du...","irailleurs Nord-Africains"";;;;;;1925-08-00;Zao...",None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1915,"""Théâtres d'opérations extérieurs"";""Afrique du...","irailleurs marocains (6e RTM)"";;;;;;1923-09-18...",None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1916,"""Théâtres d'opérations extérieurs"";Levant;AC;4...","irailleurs algériens (22e RTA)"";""2e bataillon""...",None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN